.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 1rem;

	background-color: var(--theme-background);
}

.Header + * {
	margin-top: 100px;
}

.Header :where(ol, ul) {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.Header :where(ol, ul) li {
	list-style: none;
}

.Header :where(.logoContainer, .Logo) {
	width: 2rem;
	height: 3rem;
}