.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 1rem;

	background-color: var(--theme-background);
	height: 80px;
}

.Header + * {
	margin-top: 80px;
}

.Header :where(ol, ul) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.Header :where(ol, ul) li {
	list-style: none;
}

.Header :where(.logoContainer, .Logo) {
	width: 2rem;
	height: 3rem;
}