.Button {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
	gap: .5rem;

	background-color: transparent;
	color: transparent;

	border: none;
	outline: none;
	border-radius: .5rem;

	cursor: pointer;
	user-select: none;

	transition: all var(--time-xs) ease-in-out;

	&:hover {
		transform: translateY(-.2rem);
	}
}

.buttonLabel {
	text-wrap: nowrap;
}

.buttonIcon {
	display: grid;
	place-items: center;
}

.buttonPrimary {
	background-color: var(--theme-primary);

	* {
		color: light-dark(var(--theme-text), var(--theme-background));
	}

	&:hover {
		box-shadow: 0 0 5rem -.5rem var(--theme-primary);
	}
}

.buttonSecondary {
	background-color: color-mix(in srgb, var(--theme-secondary) 30%, var(--theme-background));
	
	* {
		color: var(--theme-text);
	}
}

.buttonAccent {
	background-color: var(--theme-accent);

	* {
		color: light-dark(var(--theme-text), var(--theme-background));
	}

	&:hover {
		box-shadow: 0 0 5rem -.5rem var(--theme-accent);
	}
}

.buttonBasic {
	border: 1px solid light-dark(
		color-mix(in srgb, var(--theme-primary) 70%, var(--theme-text)),
		color-mix(in srgb, var(--theme-primary) 70%, var(--theme-background))
	);

	* {
		color: light-dark(
			color-mix(in srgb, var(--theme-primary) 70%, var(--theme-text)),
			color-mix(in srgb, var(--theme-primary) 70%, var(--theme-background))
		);
	}

	&:hover {
		transform: translate(0);
	}
}


.buttonSuccess {
	background-color: var(--theme-success);

	* {
		color: var(--theme-background);
	}
}

.buttonError {
	background-color: var(--theme-error);

	* {
		color: var(--theme-background);
	}
}

.buttonWarning {
	background-color: var(--theme-warning);

	* {
		color: var(--theme-background);
	}
}

[class*='disabled'] {
	opacity: .3;
	pointer-events: none;
}