.Button {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
	gap: .5rem;

	background-color: transparent;
	color: transparent;
	font-weight: 500;

	border: none;
	outline: none;
	border-radius: .5rem;

	cursor: pointer;
	user-select: none;

	transition: all var(--time-s) ease-in-out;

	&:hover {
		transform: translateY(-.15rem);
	}
}

.buttonLabel {
	text-wrap: nowrap;
}

.buttonIcon {
	display: grid;
	place-items: center;
}

.buttonPrimary {
	background-color: var(--theme-primary);

	* {
		color: var(--theme-background);
	}

	&:hover {
		box-shadow: 0 0 2.5rem -.5rem var(--theme-primary);
	}
}

.buttonSecondary {
	background-color: var(--theme-secondary);
	
	* {
		color: var(--theme-background);
	}
}

.buttonAccent {
	background-color: var(--theme-accent);

	* {
		color: var(--theme-background);
	}

	&:hover {
		box-shadow: 0 0 2.5rem -.5rem var(--theme-accent);
	}
}

.buttonSuccess {
	background-color: var(--theme-success);

	* {
		color: var(--theme-background);
	}

	&:hover {
		box-shadow: 0 0 2.5rem -.5rem var(--theme-success);
	}
}

.buttonError {
	background-color: var(--theme-error);

	* {
		color: var(--theme-background);
	}

	&:hover {
		box-shadow: 0 0 2.5rem -.5rem var(--theme-error);
	}
}

.buttonWarning {
	background-color: var(--theme-warning);

	* {
		color: var(--theme-background);
	}

	&:hover {
		box-shadow: 0 0 2.5rem -.5rem var(--theme-warning);
	}
}

.buttonPrimary.disabled {
    background-color: color-mix(in srgb, var(--theme-primary) 10%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-primary) 40%, var(--theme-background));
    }

    &:hover {
        transform: translateY(0);
    }
}

.buttonSecondary.disabled {
    background-color: color-mix(in srgb, var(--theme-secondary) 15%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-background) 10%, var(--theme-secondary));
    }

    &:hover {
        transform: translateY(0);
    }
}

.buttonAccent.disabled {
    background-color: color-mix(in srgb, var(--theme-accent) 15%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-accent) 50%, var(--theme-background));
    }

    &:hover {
        transform: translateY(0);
    }
}

.buttonSuccess.disabled {
    background-color: color-mix(in srgb, var(--theme-success) 5%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-success) 35%, var(--theme-background));
    }

    &:hover {
        transform: translateY(0);
    }
}

.buttonError.disabled {
    background-color: color-mix(in srgb, var(--theme-error) 10%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-error) 45%, var(--theme-background));
    }

    &:hover {
        transform: translateY(0);
    }
}

.buttonWarning.disabled {
    background-color: color-mix(in srgb, var(--theme-warning) 8%, var(--theme-background));
    pointer-events: none;
    
    * {
        color: color-mix(in srgb, var(--theme-warning) 35%, var(--theme-background));
    }

    &:hover {
        transform: translateY(0);
    }
}
