@import url('https://fh-shadow.github.io/DevImports/Styles/CSS/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --theme-text: #0d0e0b;
        --theme-background: #f7f8f6;
        --theme-primary: #9be70d;
        --theme-secondary: #abbfb9;
        --theme-accent: #6ca9ab;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-text: #f2f3f0;
        --theme-background: #070806;
        --theme-primary: #a5f218;
        --theme-secondary: #3f544d;
        --theme-accent: #7d9c9d;
    }
}

:root {
    color-scheme: light dark;

    --typo-sans: 'Inter', Sans-Serif;
    --typo-serif: Serif;
    --typo-mono: 'JetBrains Mono', monospace;

    --typo-weight: 400;

    --time-xs: .3s;
    --time-s: .6s;
    --time-m: 1s;
    --time-l: 1.3s;
    --time-xl: 1.6s;

    --theme-success: #2dc164;
    --theme-warning: #f0994b;
    --theme-error: #f80759;
    --theme-border: color-mix(in srgb, var(--theme-text) 50%, var(--theme-background));
}